<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>

    <div style="text-align: center;">

        <!-- 블랙잭은 아니고 그냥 21에 가까운 사람이 이기는 게임 -->
        <h1>Welcome to PvP Blackjack like Cardgame</h1>
        <p>The player who is the closest to 21 will win the game.</p>

        <!-- 
    TODO:

    딜러가 있는 모델에서 딜러 없이 플레이어 To 플레이어 구조로 변경

    Hit 하면 계속 하는거고 Stay 하면 해당 플레이어는 홀딩

    둘다 Stay 하거나 한 플레이어가 Win 하면 게임 끝 
    (21 과의 차이가 다른 스테이한 플레이어보다 커질 경우)

 -->

        <h2>opponent's Decks</h2>
        <p id="opponent-text"></p>
        <div id="opponent-deck">
        </div>

        <h2>Player's Decks</h2>
        <p id="player-text"></p>
        <div id="player-deck">

        </div>

        <div>
            <button id="hit-button">Hit!</button>
            <button id="stay-button">Stay</button>
        </div>
        <div>
            <p id = "game-text"></p>
        </div>
    </div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/script/index.js"></script>

</html>
